body{
    background-color: #07417b;
  }

  h1{
      color:white;
  }

  h3{
      color: #f1870f;
  }

  li{
      color: white;
  }

  h2{
      background-color: #f1870f;
      border: 2px solid;
  }
  
  #astronomy-class{
      color: #e74c3c;
  }
